<!DOCTYPE html>
<html>
  <%- include('../../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
    <div class="container-fluid top-navbar box-shadow">
      <a href="/" class="float-left">
      <h2>
        <img src="/images/logo/logo.png" class="logo">
        SocialClub
      </h2>
      </a>
      <div class="float-right margin-top-20">
        <button type="button" class="btn btn-link" id="sidebarToggle">
          <i class="fa fa-lg fa-paper-plane pills"></i>
        </button>
      </div>
    </div>
    <br>
    <div class="container">
      <img src="<%= group.profile_pic %>" class="logo">
      <a class="gram-card-user-name" href="">@<%= group.name %></a>
      <br><br>
        <span class="bio"><%- group.description %></span>
      <br><br>
      <div class="float-right margin-right-10">

        <button class="btn btn-action btn-sm btn-default" onclick="followGroup()" <% if (currentUser.groups.includes(group._id.toString())) { %> disabled <%} %> >Follow</button>

      
      </div>
      <br><br><br>


    </div>
    <div class="container">
      <center>
      <% for(var x=0;x<group.posts.length;x++) { %>
        <img src="<% if(group.posts[x].static_url) { %><%= group.posts[x].static_url %><% } else {%>/images/logo/logo.png<% } %>" class="feed-view-img">
      <% } %>
      </center>
    </div>
    <div id="notify_message" class="notify_message-success">
    	<center>Follow @<%= group.name %>!</center>
    </div>
    <%- include('../../footer') -%>
  </body>
  <script type="text/javascript">
    const _id = "<%= group._id %>";
  </script>
  <script type="text/javascript" src="/javascripts/followGroup.js"></script>
</html>
